#game-board{
    padding-bottom: 50;
}
#canvas { 
    background-image: url(./images/space-background.png);
    padding-left: 0;
    padding-right: 0;
    
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1 {
    text-align: center;
}
h3 {
    text-align: center;
}

#outer-button {
    width:100%;
    text-align: center;
}

.inner-buttons {
    display: inline-block;
}

#start-button {
    background-color: rgb(34, 185, 39); /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

#restart-button {
    background-color: rgb(250, 44, 44); /* Green */
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
}

.sound {
    display: inline-block;
    align-content: center;
}

#sound {
    height: 40px;
    width: 40px;
}

body {
	background: linear-gradient(-45deg, #eeee, #5b9fdf, #6cb6fb, #e4e4e4);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
