#game-board{
    padding-bottom: 50;
}
#canvas { 
    background-image: url(./images/space-background.png);
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
h1 {
    text-align: center;
    font-family: 'Roboto Condensed','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h3 {
    text-align: center;
    font-family: 'Oswald','Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

#outer-button {
    width:100%;
    text-align: center;
}

.inner-buttons {
    display: inline-block;
}

#start-button {
    background-color: rgb(34, 185, 39); 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

#restart-button {
    background-color: rgb(250, 44, 44); 
    border: none;
    color: white;
    padding: 15px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 4px;
    outline: none !important;
    border: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
}

.sound {
    display: inline-block;
    align-content: center;
    padding-top: em;
    
}

#sound {
    height: 40px;
    width: 40px;
}

body {
	background: linear-gradient(-45deg, #eeee, #5b9fdf, Silver, #5b9fdf);
	background-size: 400% 400%;
	animation: gradient 20s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
